<section ng-controller="HomeController">

<meta charset="utf-8">  <!-- it's important for d3.js -->
<script src="public/lib/angular/angular.js"></script>
<script src="public/lib/d3/d3.js"></script>
<script src="public/lib/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
<script src="public/lib/angular-nvd3/dist/angular-nvd3.js"></script>
<link rel="stylesheet" href="public/lib/nvd3/build/nv.d3.css">

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/TrendLogo.gif" />
      </div>
    </div>
    <br>



    <br>
    <br>

    <div class="row">
      <p class="lead">
        Real-Time Application For The Visualization of Business Trends
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://bombora.com/data/" target="_blank">Learn more</a>
      </p>
    </div>
  </div>

  <div class="container">

  </div>  


  
  



<md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Heat Map">
        <md-content class="md-padding">
          <h1 class="md-display-2">Heat Map</h1>
          <p>
            <div class="jumbotron text-center">
              <div class="container">
                    <div class="row">
                      <div class="text-center">
                      <h2 style="font-family:verdana;" >Trend data represented as a heat map</h2>  
                      <div class="col-md-7">
                          <div class="panel panel-default">
                              <div class="panel panel-body">
                                  <div svgmap></div>
                                  <div class="scale"> 
                                    <div ng-repeat="n in [0,10,20,30,40,50,60,70,80,90,100]"
                                         ng-style="{backgroundColor:'{{n/'100' | map_colour}}'}">{{n}}
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
                 
                  <div class="col-md-5">    
                  
                  <div class="panel panel-default">
                     <div class="panel panel-body">
                        <div class="regionlist">
                           <div ng-repeat="(key,region) in dummyData"
                                ng-class="{active:hoverRegion==key}" 
                                ng-mouseover="changeHoverRegion(key)"
                                ng-mouseleave="changeHoverRegion(0)">
                                <div>{{key}}: </div>
                                <div>{{region.value}}</div>

                            </div>
                        </div>
                      </div>
                  </div>
                 </div>
                </div>
                <label for="trends" style="font-family:verdana;">Select a trend: </label>
                <select name="trends" id="trends" ng-model="selectedtrend" ng-options="y for (x, y) in trendoptions" ng-change="createDummyData()"> 
                </select>
              </div>
            </div>
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Bar Graph">
        <md-content class="md-padding">
          <h1 class="md-display-2">Bar Graph</h1>
          <p>
            <div class="jumbotron text-center">
              <div class="container">
              <h2 style="font-family:verdana;">Trend data represented as a bar graph</h2>
              <canvas id="tables" height="100" width="250" class="chart chart-bar" chart-data="chartData" chart-labels="labels" chart-series="series" options="options">
              </canvas> 
              <label for="trends" style="font-family:verdana;">Select a trend: </label>
               <select name="trends" id="trends" ng-model="selectedtrend" ng-options="y for (x, y) in trendoptions" ng-change="createDummyData()"> 
               </select>
              </div>
            </div>
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Doughnut Chart">
        <md-content class="md-padding">
          <h1 class="md-display-2">Doughnut Chart</h1>
          <p>
            <div class="jumbotron text-center">
              <div class="container">
                <h2 style="font-family:verdana;">Trend data represented as a doughnut chart</h2>
                  <canvas id="doughnut" height="100" width="250" class="chart chart-doughnut" chart-data="pieData" chart-labels="labels" chart-series="series" options="options">
                  </canvas> 
                  <br>
                  <label for="trends" style="font-family:verdana;">Select a trend: </label>
                  <select name="trends" id="trends" ng-model="selectedtrend" ng-options="y for (x, y) in trendoptions" ng-change="createDummyData()"> 
                  </select>
              </div>
            </div>
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Pie Chart">
        <md-content class="md-padding">
          <h1 class="md-display-2">Pie Chart</h1>
          <p>
            <div class="jumbotron text-center">
              <div class="container">
                <h2 style="font-family:verdana;">Trend data represented as a pie chart</h2>
                  <canvas id="pie" height="100" width="250" class="chart chart-pie" chart-data="pieData" chart-labels="labels" chart-series="series" options="options">
                  </canvas> 
                  <br>
                  <label for="trends" style="font-family:verdana;">Select a trend: </label>
                  <select name="trends" id="trends" ng-model="selectedtrend" ng-options="y for (x, y) in trendoptions" ng-change="createDummyData()"> 
                  </select>
              </div>
            </div>
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Polar Area Chart">
        <md-content class="md-padding">
          <h1 class="md-display-2">Polar Area Chart</h1>
          <p>
            <div class="text-center">
              <div class="jumbotron container">
                <h2 style="font-family:verdana;">Trend data represented as a polar area chart</h2>
                  <canvas id="polar-area" height="100" width="200" class="chart chart-polar-area" chart-data="pieData" chart-labels="labels" chart-series="series" options="options">
                  </canvas> 
                  <label for="trends" style="font-family:verdana;">Select a trend: </label>
                  <select name="trends" id="trends" ng-model="selectedtrend" ng-options="y for (x, y) in trendoptions" ng-change="createDummyData()"> 
                  </select>
              </div>
            </div>
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Radar Chart">
        <md-content class="md-padding">
          <h1 class="md-display-2">Radar Chart</h1>
          <p>
            <div class="jumbotron text-center">
              <div class="container">
                <h2 style="font-family:verdana;">Trend data represented as a radar chart</h2>
                  <canvas id="radar" height="100" width="200" class="chart chart-radar" chart-data="chartData" chart-labels="labels" chart-series="series" options="options">
                  </canvas> 
                  <br>
                  <label for="trends" style="font-family:verdana;">Select a trend: </label>
                  <select name="trends" id="trends" ng-model="selectedtrend" ng-options="y for (x, y) in trendoptions" ng-change="createDummyData()"> 
                  </select>
              </div>
            </div>
          </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>



<!--
  <div class="row">
    <div class="col-md-3">
      <h2><strong>M</strong>ongoDB</h2>
      <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a NoSQL database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
  </div>
-->

  <div class="well">
    <br>Sharing is winning!
    <br>Team Six
    <br>
    <br>
    <a class="btn btn-primary btn-lg" href="http://datasurj.com" target="_blank">Team Website</a>
  </div>
</section>
