<section ng-controller="TrendsController" ng-init="find()">
  <div class="page-header">
    <h1>Trends</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="trend in trends" ui-sref="trends.view({trendId: trend._id})" class="list-group-item">
      <small class="list-group-item-text">
        Relevant till:
        <span ng-bind="trend.created | date:'mediumDate'"></span>
        from
        <span ng-bind="trend.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="trend.topic"></h4>
      <h3 class="list-group-item-heading" ng-bind="trend.state"></h3>
      <h3 class="list-group-item-heading" ng-bind="trend.strength"></h3>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="trends.$resolved && !trends.length">
    Trend tracking not yet started. <a ui-sref="trends.create">Track trends</a>?
  </div>
</section>
